# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# Model artifacts
*.pkl
*.joblib

# Logs
logs/
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# Environment files
*.env
.env
